
 
.text-detail{
    display: flex;
    align-items: center;
    background-color: #E6BA95;
    border-radius: .6rem;
}
 
.img-detail img {
    width: 80%;
    object-fit: cover;  
    border-radius: .6rem;
}
 
.item-name {
    font-family: 'Nunito', sans-serif;
}
 
.stock-disposable{
    padding-top: 15px;
    font-weight: bold;
}
 
.link-initiation{
    border: black solid 2px;
    border-radius: 15%;
    background-color: black;
    color: #E6BA95;
    padding: 5px;
    text-decoration: none;
}
 
.link-initiation:hover {
    color: white;
}

.link-buy {
    border: black solid 2px;
    border-radius: 15px;
    background-color: black;
    color: #E6BA95;
    padding: 5px;
    text-decoration: none;
}

.link-buy:hover{
    color: white;
}