@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
 
.contCantidad{
  font-family: 'Nunito', sans-serif;
  padding-bottom: 5px;
}
 
.conteContador {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
 
.conteContador button {
  font-size: 20px ;
  border: none;
  background-color: white;
}
 
.btnMasMenos{
  border-radius: 7rem;
}
 
.btnCont {
  border: black solid 2px;
  border-radius: 15%;
  background-color: black;
  color: #E6BA95;
  padding: 5px;
}
 
.btnCont:hover {
  color: white;
}
